# Visual Studio / IDE user specific files
.vs/
.idea/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.slnf
*.suo
*.workspace

# macOS / Xcode user specific files
.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes
*.xcodeproj
*.xcworkspace
DerivedData/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Precompiled Assets
SourceArt/**/*.png
SourceArt/**/*.tga

# Unreal Engine - Binary & Intermediate Files
Binaries/
Plugins/*/Binaries/
Plugins/*/*/Binaries/
Intermediate/
Plugins/*/Intermediate/
Plugins/*/*/Intermediate/
Saved/
Plugins/*/Saved/
DerivedDataCache/
Plugins/*/DerivedDataCache/
Script/

# Unreal Engine - Build directory rules
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Engine / Tool temp files
*.utouch
*.ubt

# Built data for maps
*_BuiltData.uasset
